<div class="row">
{% for property in properties|slice(0, 3) %}
  
	<div class="col-md-4">
    <div class="card">
    	<img src="{{ property.thumbnail.src }}" class="db" alt="{{ property.post_title }}" />
      	<div class="card-body pa3 bg-white">
        	<p class="f3 gray mv3 ph3">{{ review.post_content }}</p>
        	<h3 class="f2 fw7 mv0 pa3">{{ property.post_title }}</h3>
      	</div>
    </div>
  </div>

{% endfor %}
</div>